body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* White background */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f4f4f4; /* Light gray background */
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.input-group select {
    background-color: #f9f9f9;
}

.submit {
    text-align: center;
    margin-top: 20px;
}

.submit button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.submit button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
